<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abcallmobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:label="ABCallMobile"
        android:icon="@android:drawable/star_on"
        android:roundIcon="@android:drawable/star_on"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity android:name=".WelcomeActivity"
            android:exported="true"
            android:label="ABCall"
            android:theme="@style/Theme.ABCallMobile">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ClientSelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.ABCallMobile"/>

        <activity android:name=".DetailActivity"
            android:exported="true"
            android:theme="@style/Theme.ABCallMobile"/>

        <activity android:name=".CreateIncidentActivity"
            android:exported="true"
            android:theme="@style/Theme.ABCallMobile"/>

        <activity android:name=".FAQActivity"
            android:theme="@style/Theme.ABCallMobile"/>

        <activity android:name=".ChatbotActivity"
            android:theme="@style/Theme.ABCallMobile"/>

        <activity android:name=".SolucionesActivity"
            android:theme="@style/Theme.ABCallMobile"/>

        <activity android:name=".IdentificacionUsuarioActivity"
            android:theme="@style/Theme.ABCallMobile"/>

        <activity android:name=".ListaIncidentesActivity"
            android:theme="@style/Theme.ABCallMobile"/>

        <activity android:name=".ConfiguracionActivity"
            android:theme="@style/Theme.ABCallMobile"/>

        <activity android:name=".ConfirmacionLecturaActivity"
            android:theme="@style/Theme.ABCallMobile"/>

    </application>

</manifest>
